html{
    min-height: 100%;
    position: relative;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    text-align: center;
    height: 770px;
}

/*headding*/

header{
    text-align: center;
}

/*footer*/

footer{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 100px;
    padding-top: 5px;
    text-align: center;
    color: white;
    background-color: black;
}

/*gaming area*/

.gaming-area{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}

.control {
    display: inline-block;
    margin: 2px;
    width: 80px;
    height: 40px;
}

.human{
    background-color: blue;
    float: left;
    width: 45%;
    text-align: center;
}

#human-image{
    width: 75%;
}

.computer{
    background-color: blue;
    float: right;
    width: 45%;
    text-align: center;
    color: white;
}


#computer-image{
    width: 75%;
}